page-about {
    ion-content{
        background-image: url('/assets/imgs/background-plain-01.png');
        background-size: 100%;
    }
    p {
        color: white;
        margin-left: 18px;
        margin-right: 18px;
    }
    ion-grid {
        margin-top: -20px;
        color: white;
    }
    #btmImg {
        margin-top: -10px;
    }
}

