page-appointments {
    ion-content{
        background-image: url('/assets/imgs/app-buttons-02.jpg'), url('/assets/imgs/app-buttons-01.jpg');
        background-repeat: repeat-x, repeat;
        background-size: 100%;
      
    }
    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: rgba(0, 0, 0, 0.5);
          }
          .toolbar-title {
            color: white;
          }
        }
      }
      ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      
}


