page-stylist {
    ion-content{
        background-image: url('/assets/imgs/background-plain-01.png');
        background-size: 100%;
    }
    h1 {
        color: white;
    }
    h6 {
        color: white;
    }
    p {
        color: white;
        margin-left: 18px;
        margin-right: 18px;
    }
}
